<div id="consent">
  <p>
	Please read ALL study information below: 
	<br> <br>
	THE MOUNT SINAI HEALTH SYSTEM
	<br>
	CONSENT FORM TO VOLUNTEER IN A RESEARCH STUDY AND AUTHORIZATION FOR USE AND DISCLOSURE OF MEDICAL INFORMATION
	<br>
	Icahn School of Medicine at Mount Sinai 
	<br> 
	Study Title: Gem Hunters Task 
	<br>
	Principal Investigator (Head Researcher): Dr. Xiaosi Gu, PhD, Icahn School of Medicine at Mount Sinai 
 </p>
 <p>
    SUMMARY OF THIS RESEARCH STUDY:
    <br>
    In this study, you will be playing a task called Gem Hunters. 
    In this task, you will be presented with a set of gems with unique colors and shapes. 
    On each round there is a special feature, either gem color or gem shape that predicts reward.
    On each round, your job is to learn through trial and error what the special feature is and use that knowledge to select the gems for which you are most likely to get rewarded.  
    On some rounds you will receive a hint about the special feature and on other rounds you will not. The more rewards you collect, the higher your bonus payment will be at the end.
    This study will take you approximately 15 minutes.
 </p>
 <p> 
 	After agreeing to participate in this study, the task will begin. It is crucial that you keep this page open at all times. 
 	During completion of the task, do not refresh the page or use your browser's back button. Failure to follow these instructions may result in a rejection of your work
 	(though only in extreme circumstances, at our discretion). Please contact us through Prolific with any questions or issues. 
 </p>
 <p>
 	Your selection of "I AGREE" below documents your permission to take part in this research and to the use and disclosure of the information you provide. If you don't agree to participate in this research, 
 	please navigate back to Prolific and return this study.
 </p>
  <p>
    <input type="checkbox" id="consent_checkbox" />
    I AGREE
  </p>
  <button type="button" id="start">Start Experiment</button>
</div>

